@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Tenada";
    src: url('./shared/fonts/Tenada.ttf');
}

@font-face {
    font-family: 'Ownglyph';
    src: url('./shared/fonts/Ownglyph_StudyHard-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}